<template>
  <div class="flex pt-10 justify-center">
    <div class="w-3/4">
      <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">New text</p>

      <textarea
        v-model="text"
        class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      />
      <button
        @click="createText"
        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded m-2"
      >Create Text</button>
      <div class="p-4">
        <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">My Texts:</p>
        <input
          v-model="filter"
          class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 w-1/2"
          placeholder="filter"
        />
        <div v-for="(text, i) in filteredTexts" :key="i">
          <p
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          >{{text.text}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: "",
      texts: "",
      filter: ""
    };
  },
  computed: {
    filteredTexts() {
      if (this.filter) {
        let output = [];
        for (let i = 0; i < this.texts.length; i++) {
          if (this.texts[i].text.includes(this.filter)) {
            output.push(this.texts[i]);
          }
        }
        return output;
      }
      return this.texts;
    }
  },
  methods: {
    async createText() {
      const resp = await this.ajaxPost("/text", { text: this.text });
      this.text = "";
      this.loadTexts();
    },
    async loadTexts() {
      const resp = await this.ajaxGet("/text/mytexts");
      this.texts = resp.texts;
    }
  },
  async mounted() {
    this.loadTexts();
  }
};
</script>