<template>
  <div class="h-full w-full">
    <loginForm v-if="mode == 'login'" @signup="mode='signup'" />
    <regForm @login="mode='login'" v-else />
  </div>
</template>

<script>
import regForm from "./registerForm";
import loginForm from "./loginForm";

export default {
  data() {
    return {
      mode: "login"
    };
  },
  components: {
    loginForm,
    regForm
  }
};
</script>