<template>
  <div class="flex flex-col items-center pt-10">
    <div class="flex flex-col">
      <form class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Name</label>
            <input
              v-model="form.name"
              :class="`appearance-none block w-full bg-gray-200 text-gray-700 border ${$v.form.name.$invalid && validate_color['name']? 'border-red-500' : ''} rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white`"
              type="text"
              placeholder="name"
            />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="grid-password"
            >Password</label>
            <input
              v-model="form.password"
              :class="`appearance-none block w-full bg-gray-200 text-gray-700 border ${$v.form.password.$invalid && validate_color['password']? 'border-red-500' : ''} rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white`"
              type="password"
              placeholder="******************"
            />
          </div>
          <div class="w-full px-3">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="grid-password"
            >Repeat password</label>
            <input
              v-model="r_password"
              :class="`appearance-none block w-full bg-gray-200 text-gray-700 border ${$v.r_password.$invalid && validate_color['r_password']? 'border-red-500' : ''} rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white`"
              type="password"
              placeholder="******************"
            />
          </div>
        </div>
      </form>
      <button
        @click="sugnUp"
        :disabled="$v.r_password.$invalid || $v.form.$invalid"
        :class="`${$v.r_password.$invalid || $v.form.$invalid ? 'bg-gray-400':'bg-blue-500 hover:bg-blue-700'} text-white font-bold py-2 px-4 rounded`"
      >Register</button>
      <p v-for="(err, e) in error" :key="e" class="text-red-500 text-xs italic">{{err.msg}}</p>
    </div>
    <a
      @click="$emit('login')"
      class="inline-block text-left w-full max-w-lg mt-6 align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
      href="#"
    >Login</a>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import {
  required,
  regex,
  alphaNum,
  numeric
} from "vuelidate/lib/validators";

function validator_3(value) {
  if (value !== this._self.form.password) {
    return false;
  } else {
    return true;
  }
}

export default {
  validations: {
    r_password: {
      validator_3
    },
    form: {
      name: {
        required,
        alphaNum
      },
      password: {
        required
      }
    }
  },
  computed: {
    name() {
      return this.form.name;
    },
    password() {
      return this.form.password;
    }
  },
  watch: {
    name(val) {
      this.validate_color["name"] = val;
    },
    password(val) {
      this.validate_color["password"] = val;
    },
    r_password(val) {
      this.validate_color["r_password"] = val;
    }
  },
  data() {
    return {
      error: [],
      validate_color: {},
      r_password: "",
      form: {
        name: "",
        password: ""
      }
    };
  },
  methods: {
    ...mapActions("auth", { login: "login" }),
    async sugnUp() {
      let ajaxData = {};
      for (const key in this.form) {
        if (this.form[key]) {
          ajaxData[key] = this.form[key];
        }
      }

      try {
        const resp = await this.$axios.post("/user", ajaxData);
        this.login({ name: this.name, password: this.password });
      } catch (error) {
        this.error = [...error.response.data.data];
      }
    }
  },
  mounted() {
    this.form.country = "RU";
  }
};
</script>

<style>
</style>
